<!DOCTYPE html>
<html>
<head>
    <title>{{ student.name }}</title>
</head>
<body>
    <h1>{{ student.name }}</h1>
    <p>Class: {{ student.student_class.name }}</p>
    <p>Roll Number: {{ student.roll_number }}</p>
    <p>Parents' Names: {{ student.parents_name }}</p>
    <p>Behavior: {{ student.behavior }}</p>
    <p>Social Skills: {{ student.social_skills }}</p>
    <p>Interests: {{ student.interests }}</p>
    <p>Motivation and Engagement Levels: {{ student.engagement_levels }}</p>
    <p>Special Needs: {{ student.special_needs }}</p>
    <p>Unhealthy Habits: {{ student.unhealthy_habits }}</p>
    {% if student.photo %}
        <img src="{{ student.photo.url }}" alt="Photo of {{ student.name }}">
    {% else %}
        <p>No photo available</p>
    {% endif %}
    {% if student.grade_sheet %}
        <a href="{{ student.grade_sheet.url }}">Download Grade Sheet</a>
    {% else %}
        <p>No grade sheet available</p>
    {% endif %}
    <a href="{% url 'student_list' student.student_class.id %}">Back to Student List</a>
    <br>
    <a href="{% url 'generate_grade_sheet' student.pk %}">Generate and Download Grade Sheet</a>
</body>
</html>
